.config/discord
.config/obsidian
.config/btop
.config/companion
.config/dconf
.config/github-copilot
.config/go
.config/mimeapps.list
.config/spotify
.config/Msty
.config/fabric/.env
.config/nvim.bak
.config/ml4w/cache
.Xresources
.gtkrc-2.0
